* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #f2f5f9;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-container {
    margin-top: 40px;
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #1a237e;
  }
  
  input[type="email"],
  input[type="text"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
  }
  
  .otp-row {
    display: flex;
    gap: 10px;
  }
  
  .otp-row input {
    flex: 2;
  }
  
  .otp-row button {
    flex: 1;
    padding: 12px;
    background-color: #1a237e;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.9rem;
  }
  
  .submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #1a237e;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
    cursor: pointer;
  }
  
  .footer-text {
    margin-top: 15px;
    font-size: 0.9rem;
  }
  
  .footer-text a {
    color: #1a237e;
    text-decoration: none;
  }
  

   /* Header */
   .college-header {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }
  
  .college-header .left img,
  .college-header .right img {
    max-height: 100px;
  }
  
  .college-header .center {
    flex: 2;
    text-align: center;
  }
  
  .college-name {
    margin: 0;
    color: #e63946;
  }
  
  .college-subtitle {
    margin: 0;
    color: #1d3557;
  }
  
  .college-affiliation {
    color: #e63946;
    font-weight: bold;
  }

  /* Media Querry */

  @media (max-width: 768px) {
    .college-header {
      flex-direction: column;
      text-align: center;
    }
  
    .left, .right {
      justify-content: center;
      margin-bottom: 10px;
    }
  
    .college-logo,
    .naac-logo {
      width: 70px;
    }
  
    .college-title {
      font-size: 22px;
    }
  
    .college-subtitle {
      font-size: 18px;
    }
  
    .college-affiliation {
      font-size: 13px;
    }
  }